/*   */
/* Basic setup  */
/*   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #555555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/*  AFTER USING FLOAT WE MUST CLEAR THE FLOAT ALWAYS ON PARANT ELEMENT OF FLOAT USE this "clearfix" and this will take care of it */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* < ------------------------------- >*/
/* Reusable Components  */
/* < ------------------------------- >*/

.row {
  max-width: 1140px;
  /* top bottom , left right*/
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}

/* ----- Headings -----  */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 300%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* After h2 indicates this will happen  */
h2:after {
  display: block;
  height: 2px;
  background-color: #cf6d17;
  /* Every time we make a use of after sudo class we have to specify its content  */
  content: " ";
  width: 300px;
  /* this will center */
  margin: 0 auto;
  margin-top: 30px;
}
/* ------- PARAGRAPHS -----  */
.long-copy {
  line-height: 145%;
  width: 75%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
/* ----- LINKS -----  */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}
/* -----Buttons -----  */

/* Buttons in css can have "link, visitet, active and howerd" and we can use sudoclases for it*/
/* if you want to change something after its visited use it separately*/
.btn:visited,
.btn:link,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  /* Will remove the underline from the links  */
  text-decoration: none;

  border-radius: 200px;
  /*Css 3 bg color will change after that many seconds  */
  transition: background-color 0.4s border 0.4, color 0.3;
}

.btn-full:visited,
.btn-full:link,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:visited,
.btn-ghost:link {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active,
input[type="submit"] {
  border: 1px solid #e67e22;
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: #fff;
}
/* < ------------------------------- >*/
/* Ion Icons  */
/* < ------------------------------- >*/

.ion-icon {
  font-size: 330%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}
.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;

  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* < ------------------------------- >*/
/* Header  */
/* < ------------------------------- >*/
header {
  /* linear-gradient() for transparancy - mix 2 colors*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  /* fill the screen with the background image*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* < ------------------------------- >*/
/* Navbar  */
/* < ------------------------------- >*/
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px 0;
}
.main-nav {
  float: right;
  margin-top: 50px;
  /* Get rid of bulletpoints */
  list-style: none;
}
.main-nav li {
  /* Items can be side by side */
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* < STICKY NAVI >*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px rgb(117, 117, 117);
}
.main-nav {
  margin-top: 16px;
  /* Get rid of bulletpoints */
}
.sticky li a:link,
.sticky li a:visited {
  padding: 10px 0;

  color: #555;
}
/* Logic!! using css - if logo is inside the sticky navbar display the logo-black  */
.sticky .logo-black {
  display: block;
}
/* Logic!! using css - if logo is not inside the sticky navbar dont't display the logo  */
.sticky .logo {
  display: none;
}
/* < ------------------------------- >*/
/* FETURES  */
/* < ------------------------------- >*/
.section-features .lomg-copy {
  margin-bottom: 30px;
}

/* < ------------------------------- >*/
/* Meals  */
/* < ------------------------------- >*/

.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  background-color: #000;
  /*  will se the image that is juts a pard of the container */
  overflow: hidden;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  /*  we are zooming in to the image */
  transform: scale(1.15);
  /*  transition will add animation to the image - this will transform back after 0.5 seconds*/
  transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/* < ------------------------------- >*/
/* HOW IT WORKS  */
/* < ------------------------------- >*/

.section-steps {
  background-color: #f4f4f4;
}

/* <----- sudo for childs ----- >*/
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}
/*  This will select just the lastone and add pixels */
.works-step:last-of-type {
  margin-bottom: 80px;
}
.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  /*  To make sure that element dosnt force a line break and number can be side by side with text */
  display: inline-block;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
  float: left;
}
.btn-app:link,
.btn-full:visited {
  border: none;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

/* < ------------------------------- >*/
/* CITIES  */
/* < ------------------------------- >*/
.section-cities {
  background-color: #fff;
}
.city-box {
  width: 100%;
}
.city-box img {
  width: 90%;
  height: auto;
  margin: 0;
}
.city-box p {
  font-size: 90%;
  height: auto;
  margin: 0%;
  margin-left: 6px;
  word-spacing: 3px;
}
.city-box h3 {
  margin: 0%;
  margin-left: 4px;
}
/* < ------------------------------- >*/
/*  CUSTOMER testimonials  */
/* < ------------------------------- >*/

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/back-customers.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  /* < very cool background efect >*/
  background-attachment: fixed;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
blockquote::before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
}
cite img {
  /* centered image and text >*/
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* < ------------------------------- >*/
/*  SIGN UP */
/* < ------------------------------- >*/

.section-plans {
  background-color: #f4f4f4;
}
.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;

  box-shadow: 0 2px 2px #efefef;
}
.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  text-align: center;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.plan-price {
  font-size: 200%;
  margin-bottom: 10px;
  font-weight: 200;
  color: #e67e22;
}
.plan-price span {
  /* This font size is child element of plan-price and will take the font size of its parent element
     to get smaler font size we must decrese the persentage and same for other attributes
  */
  font-size: 30%;
  font-weight: 300;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-box ul {
  /*  Remove the list style  */

  list-style: none;
}
.plan-box ul li {
  padding: 5px 0;
}
/* < ------------------------------- >*/
/*  FORM */
/* < ------------------------------- >*/

.contact-form {
  width: 60%;
  /* Center this inside its element */
  margin: 0 auto;
}
/* its loking just for the onces that have type of text and email  */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
}
/* its loking just for the onces with the type of checkbox inside the html  */
input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}
/* will remove the border when its selected  */
*:focus {
  outline: none;
}
/* < ------------------------------- >*/
/*  FOOTER */
/* < ------------------------------- >*/

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
