/*   */
/* Basic setup  */
/*   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
/*  AFTER USING FLOAT WE MUST CLEAR THE FLOAT ALWAYS ON PARANT ELEMENT OF FLOAT USE this "clearfix" and this will take care of it */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* < ------------------------------- >*/
/* Reusable Components  */
/* < ------------------------------- >*/

.row {
  max-width: 1140px;
  /* top bottom , left right*/
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}

/* ----- Headings -----  */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 300%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* After h2 indicates this will happen  */
h2:after {
  display: block;
  height: 2px;
  background-color: #cf6d17;
  /* Every time we make a use of after sudo class we have to specify its content  */
  content: " ";
  width: 300px;
  /* this will center */
  margin: 0 auto;
  margin-top: 30px;
}
/* ------- PARAGRAPHS -----  */
.long-copy {
  line-height: 145%;
  width: 75%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
/* -----Buttons -----  */

/* Buttons in css can have "link, visitet, active and howerd" and we can use sudoclases for it*/
/* if you want to change something after its visited use it separately*/
.btn:visited,
.btn:link {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  /* Will remove the underline from the links  */
  text-decoration: none;

  border-radius: 200px;
  /*Css 3 bg color will change after that many seconds  */
  transition: background-color 0.4s border 0.4, color 0.3;
}

.btn-full:visited,
.btn-full:link {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:visited,
.btn-ghost:link {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active {
  background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67e22;
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: #fff;
}
/* < ------------------------------- >*/
/* Ion Icons  */
/* < ------------------------------- >*/

.ion-icon {
  font-size: 330%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

/* < ------------------------------- >*/
/* Header  */
/* < ------------------------------- >*/
header {
  /* linear-gradient() for transparancy - mix 2 colors*/
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  /* fill the screen with the background image*/
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* < ------------------------------- >*/
/* Navbar  */
/* < ------------------------------- >*/
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav {
  float: right;
  margin-top: 50px;
  /* Get rid of bulletpoints */
  list-style: none;
}
.main-nav li {
  /* Items can be side by side */
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* < ------------------------------- >*/
/* FETURES  */
/* < ------------------------------- >*/
.section-features .lomg-copy {
  margin-bottom: 30px;
}

/* < ------------------------------- >*/
/* Meals  */
/* < ------------------------------- >*/

.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  background-color: #000;
  /*  will se the image that is juts a pard of the container */
  overflow: hidden;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  /*  we are zooming in to the image */
  transform: scale(1.15);
  /*  transition will add animation to the image - this will transform back after 0.5 seconds*/
  transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/* < ------------------------------- >*/
/* HOW IT WORKS  */
/* < ------------------------------- >*/

.section-steps {
  background-color: #f4f4f4;
}

/* <----- sudo for childs ----- >*/
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}
/*  This will select just the lastone and add pixels */
.works-step:last-of-type {
  margin-bottom: 80px;
}
.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  /*  To make sure that element dosnt force a line break and number can be side by side with text */
  display: inline-block;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
  float: left;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

/* < ------------------------------- >*/
/* CITIES  */
/* < ------------------------------- >*/
.section-cities {
  background-color: #fff;
}
.city-box {
  width: 100%;
}
.city-box img {
  width: 90%;
  height: auto;
}
